/*

import a font later

*/

/* left off on 1:19:44 time to add animations! */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

/*

Styles multiple elements throughout the page

*/

html{
    scroll-behavior: smooth;
}
.link__hover-effect:after{
    content: "";
    position: absolute;
    height: 3px;
    width: 0;
    bottom:-3px;
    right: 0;
    background-color: lightcoral;
    transition: all 0.3s ease;
}
.link__hover-effect:hover:after{
    left:0; 
    width: 100%;
}

h1, h2, h3, h4, h5, h6{
  color: #242424;
  text-align: center;
  line-height: 1.25;
}
h1{
    font-size: 36px;
}
p{
  font-size: 16px;
  line-height: 1.5;
}
li{
  list-style: none;
}
.purple-text{ color: #6030b1;}

.flex-1{
    flex: 1;
}
.flex{
    display: flex;
}
.row{
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}
section:nth-child(even){
    background-color: #FBE9F0;
}
.container{
    padding: 50px 0;
}
.section-title{
    margin-bottom: 24px;
}
a{
    text-decoration: none;
    position: relative;
    transition: all 0.3s ease;
}
a:hover{
    color: lightcoral;
}
/*

NAVIGATION BAR

*/

nav{
    height: 100px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    align-items: center;
  display: flex;
  justify-content: space-between;
}

.nav__links--list{
    display: flex;
}
.nav__link--anchor{
    color: #242424;
    font-weight: bold;
    padding: 0px 12px;
}
.nav__link--anchor-primary{
    background-color: lightcoral;
    color: white;
    border-radius: 25px;
    padding: 8px 20px;
    transition:all 0.3s ease;
}
.nav__link--anchor-primary:hover{
    background-color: indianred;
}
.personal__logo{
   font-size: 24px;
   font-weight: bold;
   margin: 0 12px;
   color: #6030b1;
}

/*

ABOUT ME

*/

.sakura-1{
    display: inline-block;
animation: sakura-1-animation 800ms 0ms infinite ease-in-out;
}
@keyframes sakura-1-animation{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(-30deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
.sakura-2{
    display: inline-block;
animation: sakura-2-animation 800ms 0ms infinite ease-in-out;
}
@keyframes sakura-2-animation{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(30deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
#about-me{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.about-me__info{
    display: flex;
    flex-direction: column;
}
.about-me__info-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-me__picture--mask{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin: 20px 0;
    box-shadow: hsl(0, 34%, 65%) 3px 12px 24px;
    animation: profile-photo-animation 800ms 200ms backwards;
}
@keyframes profile-photo-animation{
    0%{
        transform: scale(0) rotate(0deg);
        opacity: 0;
    }
    100%{
        transform: scale(1) rotate(360deg);
        opacity: 1;
    }
}
.profile-photo{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#about-me__info--title{
    padding-bottom: 24px;
    animation: fade-up 650ms 400ms backwards;
}
.about-me__info--text{
    font-size: 20px;
    margin-bottom: 24px;
    animation: fade-up 650ms 500ms backwards;
}
.about-me__social-links{
    animation: fade-up 650ms 600ms backwards
}
.about-me__social-link{
    font-size: 24px;
    padding: 0 40px 10px 40px;
}
@keyframes fade-up{
    0%{
        transform: translateY(40px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
.about-me__img--container{
    flex:1;
    display: flex;
    align-items: center;
}
.about-me__img{
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 24px 0;
    animation: fade-in 800ms 700ms backwards;
}
@keyframes fade-in{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
/*

LANGUAGES

*/
.languages__icons--wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    flex-wrap: wrap;
    padding: 25px 16px;
}
.languages__icons--container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
    position: relative;
}
.language__img{
  width: 100%;
  max-width: 100px;
  transition: all 0.3s ease;
}
.language__img:hover
{filter: drop-shadow(3px 12px 24px rgb(138, 25, 95));
  transform: scale(1.2);
  opacity: 0.8;}

.languages__icons--container:hover .language__name{
  transform: scale(1.2);
  opacity: 0.8;
  transition: all 0.3s ease;
}
.language__name{
    position: absolute;
    bottom: -35px;
    transform:scale(0%);
    transition: all 0.3s ease; 
    font-size: 20px;
    opacity: 0%;
    padding-top: 8px;
}
/*

PROJECTS

*/
.project__img{
    width: 100%;
    transition: all 0.3s ease;
}
.project-wrapper{
    display: flex;
    box-shadow:  5px 20px 50px hsl(0, 34%, 65%);
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}
.project-wrapper:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color:  #1c1d25;
    opacity: 0;
    transition: all 0.3s ease;
    z-index: 2;
}
.project:hover .project-wrapper:before{
    opacity: 0.7;
}
.project:hover .project__img{
    transform: scale(1.07);
    filter: blur(2px);
}
.project:hover .project__desc{
    opacity: 1;
    transition: all 0.3s ease;
    transform: translateY(-50%);
}
.project__list{
    padding: 0 20px;
}
.project__desc{
    position: absolute;
    top: 50%;
    left: 90px;
    max-width: 550px;
    
    z-index: 3;
    opacity: 0;
    transition: all 0.3s ease;

}
.project__desc--title,
.project__desc--sub-title,
.project__desc--text,
.project__desc--link{
    color: white;
    margin-bottom: 12px;
    text-align: left;
}
.project{ 
    margin: 150px 0;
}
.project:last-child{
    margin-bottom: 40px;
}
/*

FOOTER

*/
footer{
    background-color: #242424;
    color: white;
    text-align: center;
    padding: 24px 0;
}
.footer__logo{
    height: 70px;
    width: 70px;
    border-radius: 35px;
}
.footer-row{
    padding: 6% 0;
}
.footer__social--list{
    display: flex;
    justify-content: space-around;

}
.footer__social--link, .footer__logo--pop-up{
    color: white;
}
.footer__logo--container{
    margin-bottom: 24px;
}
.back-to-top{
    position: relative;
}
.back-to-top:hover .footer__logo--pop-up{
    opacity: 1;
    transform: translateX(50px) ;
    transition: all 0.3s ease;
}
.footer__logo--pop-up{
    position: absolute;
    top: 30px;
    font-weight: bold;
    opacity: 0;
}
/*

MEDIA QUERIES

*/

@media (max-width: 768px){
    nav{
        flex-direction: column;
        height: auto;
        padding: 20px 0;
    }
    .nav__links--list{
        margin-top: 12px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .about-me__info-container{
        flex-direction: column;
        align-items: center;
        margin: 0 20px;
    }
    .about-me__img--container{
        margin-top: 24px;
    }
    .about-me__info--text{
        font-size: 18px;
    }
    .about-me__social-links{
        display: flex;
        justify-content: space-around;
    }
    .about-me__social-link{
        padding: 0 30px;  
    }
    .project__desc{
        left: 50px;
        max-width: 400px;
    }
    .row{
        padding: 0 20px;
    }
    .project__desc--text{
        font-size: 14px;
    }
}

@media (max-width: 480px){
    .nav__links:not(:last-child){
        display: none;
    }
    #about-me__info--title{
        font-size: 24px;
    }
    .personal__logo{
        font-size: 20px;
        margin: 0 6px;
    }
    .about-me__picture--mask{
        width: 150px;
        height: 150px;
    }
    .about-me__img--container{
        margin-top: 12px;
    }
    .about-me__img{
        max-width: 300px;
    }
    .about-me__info--text{
        font-size: 16px;
        text-align: center;
    }
    .languages__icons--wrapper{
        gap: 40px;
    }
    .language__img{
        max-width: 80px;
    }
    .language__name{
        font-size: 16px;
        bottom: -30px;
    }
    .project__desc{
        left: 20px;
        max-width: 300px;
    }
    .project__desc--title{
        font-size: 18px;
    }
    .project__desc--sub-title{
        font-size: 14px;
    }
    .project__desc--text{
        font-size: 12px;
    }
}
